<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post List</title>
</head>
<body>
    <h1>Edit Post</h1>
    <form method="post" action="/posts/<%= post._id %>">
    <label for="name">Name:</label>
     <input type="text" name="name" id="name" value="<%= post.name %>">
     <label for="category">Category:</label>
     <input type="text" name="category" id="category" value="<%= post.category %>">
     <label for="content">Content:</label>
     <input type="text" name="content" id="content" value="<%= post.content %>">
     <button type="submit">Update</button>
    </form>
    <form method="post" action="/posts/delete/<%= post._id %>">
         <button type="submit">Delete</button>
    </form>
</body>
</html>